body {
    background-color: grey;
    height: 500px;
    display: flex;
    align-items: center;
}

#grid {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px auto 25px;
    padding: 10px;
    align-items: center;
    justify-items: start;
    grid-gap: 10px;
}

label {
    font-weight: bold;
    font-size: 18px
}

textarea {
    height: 200px;
    width: 500px;
}

button {
    width: 200px;
    height: 25px;
    text-align: center;
}